# Entornos virtuales
venv/
env/

# Archivos de configuración
*.env

# Archivos de Python
__pycache__/
*.py[cod]
*.sqlite3

# Archivos de logs
*.log

# Archivos de Django
db.sqlite3

# Archivos del sistema
.DS_Store
*.swp